ITE_NAME=Revival Business
SECRET_KEY='django-insecure-!mwx0n^63z98_nhylgrut82@!1ypg#^v_zed3_y9$1a(a#5*qn'
DEBUG=True
ALLOWED_HOSTS=*
DATABASE_URL=sqlite:///db.sqlite3


SUPPORT_PHONE_NUMBER=+243999456789
SUPPORT_EMAIL=contact@revival-business.com

SITE_BASE_URL=https://revival-business.com.dev
